@import "./styles/Fonts.scss";
@import "./styles/Defaults.scss";
@import "./styles/views/FrameView.scss";
@import "./styles/views/PlanetView.scss";

html
{
    color: #eee;
    font-family: goldfish;
    background-color: #eee;
}

#frame-view
{
    background-color: #222;
}
